<form  (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm" > 
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault01">Product name</label>
      <input type="text" class="form-control" id="validationDefault01" value="" required name="product_name" ngModel>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault02"> Category ID</label>
      <input type="text" class="form-control" id="validationDefault02" value="" required  name="product_category" ngModel>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault02"> product ID</label>
      <input type="text" class="form-control" id="validationDefault02" value="" required  name="productid" ngModel>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">Description</label>
      <input type="text" class="form-control" id="validationDefault03" required name="product_description" ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault04">Rating</label>
      <select class="custom-select" id="validationDefault04" required name="product_rating" ngModel>
        <option selected  value="1">1</option>
        <option selected  value="2">2</option>
        <option selected  value="3">3</option>
        <option selected value="4">4</option>
        <option selected  value="5">5</option>

      </select>
    </div>
    </div>


    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Product Color</label>
        <input type="text" class="form-control" id="validationDefault03" required name="product_color" ngModel >
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Is available</label>
        <select class="custom-select" id="validationDefault04" required>
          <option selected  value="1">yes</option>
          <option selected  value="0">no</option>
    
  
        </select>
      </div>
      </div>


      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault03">product price</label>
          <input type="text" class="form-control" id="validationDefault03" required name="product_price" ngModel>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationDefault04">reviews</label>
          <select class="custom-select" id="validationDefault04" required name="product_reviews" ngModel>
            
            <option selected  > choose..</option>
            <option   value="1">1</option>
            <option   value="2">2</option>
            <option   value="3">3</option>
            <option   value="4">4</option>
            <option   value="5">5</option>
    
          </select>
        </div>
        <div class="col-md-3 mb-3">
          <label  > img location</label>
           <input type="text" value="upload file" class=""   required name="product_img" ngModel >
         </div>
        

        </div>

<input  type="submit" value="submit" class="btn btn-primary"  >

</form>