<div class="card mt-4">
    <img class="card-img-top img-fluid" src="{{productDetails.productImg}}" alt="">
    <div class="card-body">
      <h3 class="card-title">{{productDetails.productName}}</h3>
      <a href="products/update-product/{{productDetails.id}}"> update ||</a>
      <a href="products/delete-product/{{productDetails.id}}"> delete</a>

      <h4>{{productDetails.price}}</h4>
      <p class="card-text">{{productDetails.description}}</p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
    </div>
  </div>
  <!-- /.card -->

  <!-- /.card -->
